@import '../scss/variables';
@import '../scss/mixins';
.footer {
    display: block;
    position:fixed;
    bottom: 0;
    width: 100%;
  
   height: auto;
    margin-top: 1rem;
    font-family: $kalam;
    background-color: $lightBlue;
    text-align: center;
    font-size: $font-md;
    padding: 1rem 0 1rem 0;
    transition: ease-in-out 300ms;
    @include breakpoint-up(medium) {
        font-size: 1.3rem;
        }
}
.footer-darkmode {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: $kalam;
    background-color: #BB86FC;
    text-align: center;
    font-size: $font-md;
    padding: 1rem 0 1rem 0;
    transition: ease-in-out 300ms;
    @include breakpoint-up(medium) {
        font-size: 1.3rem;
        }
}