@import "../../scss/variables";
@import "../../scss/mixins";


  .board {
    min-width: 220px;
    height: 220px;
    align-self: center;
    margin-right: 3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    @include breakpoint-up(medium) {
      width: 400px;
    height: 400px;
  }
  @include breakpoint-up(large) {
    width: 350px;
  height: 350px;
}
@include breakpoint-height-up(medium) {
  width: 300px;
  height: 300px;
}
 
    
  }
  .board-darkmode {
    min-width: 220px;
    height: 220px;
    background-color: black;
    display: flex;
    align-self: center;
    margin-right: 3rem;
    flex-direction: column;
    position: relative;
    @include breakpoint-up(medium) {
      width: 400px;
    height: 400px;
  }
  @include breakpoint-up(large) {
    width: 350px;
  height: 350px;
}
@include breakpoint-height-up(medium) {
  width: 300px;
  height: 300px;
}
  
  }
  .square {
    flex: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @include breakpoint-down(medium){
          max-width:44px;
          font-size: 1.5rem;
    }
    @include breakpoint-height-up(medium) {
      max-width:60px;
      font-size: 2rem;
    }
    font-size: 2rem;
    text-align:center;
    border: 2px solid $darkBlue;
    border-radius: 6px;
    background:none;
    cursor: pointer;
    place-items: center;
   
    color: $veryDarkBlue;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .square-darkmode {
    flex: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint-down(medium){
      max-width:44px;
      font-size: 1.5rem;
}
@include breakpoint-height-up(medium) {
  max-width:60px;
  font-size: 2rem;
}
font-size: 2rem;
    border: 2px solid #BB86FC;
    border-radius: 6px;
    background:none;
    cursor: pointer;
    display: grid;
    place-items: center;
 
  color: #03DAC6;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
   

  }

 
  .row {
    flex: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

 
  .player1Overlay{
   
    position: absolute;
    background-color: transparent;
    width: 300px;
    height: 290px;
    justify-content:center;
  align-items: flex-end;
  @include breakpoint-up(medium) {
    width: 400px;
  height: 480px;
}
@include breakpoint-up(large) {
  width: 350px;
height: 430px;
}
@include breakpoint-height-up(medium) {
  width: 400px;
height: 380px;
}


   
  
  }
  .player2Overlay{
   
    position: absolute;
    background-color: transparent;
    width: 300px;
    height: 290px;
    justify-content:center;
  align-items: flex-end; 
  @include breakpoint-up(medium) {
    width: 400px;
  height: 480px;
}
@include breakpoint-up(large) {
  width: 350px;
height: 430px;
}
@include breakpoint-height-up(medium) {
  width: 400px;
height: 380px;
}
   
  
  }
  .turn-darkmode {
    color:white;
  }

  .win-overlay {
    transition: ease-in 400ms;
    position: absolute;
    min-width: 290px;
    height: 290px;
    border: 5px solid black;
    text-align: center;
    background-color: $darkBlue;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakpoint-up(medium) {
      width: 400px;
    height: 480px;
  }
  @include breakpoint-up(large) {
    width: 350px;
  height: 430px;
  }
  @include breakpoint-height-up(medium) {
    width: 370px;
  height: 370px;
  }
  }

  .win {
    color:black;
    @include breakpoint-up(medium) {
      
      font-size: 2rem;
   }
  }

  .win-darkmode {
    color:white;
    @include breakpoint-up(medium) {
      
      font-size: 2rem;
   }
  }
  
  .draw-overlay {
    transition: ease-in 400ms;
    position: absolute;
    min-width: 290px;
    height: 290px;
    border: 5px solid black;
    text-align: center;
    background-color: $darkBlue;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakpoint-up(medium) {
      width: 400px;
    height: 480px;
  }
  
  @include breakpoint-up(large) {
    width: 350px;
  height: 430px;
  }
  @include breakpoint-height-up(medium) {
    width: 370px;
  height: 370px;
  }
  }

  .draw {
    color:black;
    font-weight: 600;
    font-size: 1.6rem;
    @include breakpoint-up(medium) {
     font-size: 2rem;
  }
  }

  .draw-darkmode {
    color:white;
    @include breakpoint-up(medium) {
      font-size: 2rem;
   }
  }
  .newGame {
    position: absolute;
    cursor: pointer;
   margin-top: 5rem;
    font-size: $font-lg;
    background-color: $lightBlue;
    border-radius: 12px;
    padding: 0.5rem;
   font-size: 1.5rem;
 @include breakpoint-up(medium){
 font-size: 2rem;
 margin-top: 7rem;
 }

  }

  .yourturn {
    position:absolute;
    align-self: center;
    bottom:0;
    transform:translateY(95%);
    @include breakpoint-up(medium) {
      font-size: 2rem;
   }
   @include breakpoint-down(small) {
    transform:translateY(85%);

  }
 
  }

  .player1Text, .player2Text  {
    @include breakpoint-up(medium) {
      font-size: 2rem;
   }
  
    
  }

  .player1Text-darkmode {
    color:white;
    @include breakpoint-up(medium) {
      font-size: 2rem;
   }

  }
  .player2Text-darkmode {
    color:white;
    @include breakpoint-up(medium) {
      font-size: 2rem;
   }
  }
  .gameplay-container {
    flex-direction: column;
    min-height: 76vh;
overflow: auto;
width: 100%;
align-items: flex-start;
margin-left: 2rem;

  }

 

  .game-id {
    font-size: 1.225rem;
    align-self: flex-start;
    padding: 0.45rem;
    font-weight: 700;
    border-radius: 12px;
    margin:0.2rem;
    background-color: $lightBlue;
    @include breakpoint-up(medium) {
      font-size: 1.5rem;
   }
   @include breakpoint-down(small) {
    font-size: 1rem;

  }
  @include breakpoint-up(large) {
    font-size: 1.2rem;

  }
  }

  .game-id-darkmode {
    font-size: 1.225rem;
    align-self: flex-start;
    padding: 0.45rem;
    font-weight: 700;
    margin:0.2rem;

    border-radius: 12px;
    background-color: #BB86FC;
    @include breakpoint-up(medium) {
      font-size: 1.5rem;
   }
   @include breakpoint-down(small) {
    font-size: 1rem;

  } @include breakpoint-up(large) {
    font-size: 1.2rem;

  }

  }

  .user-container {
    flex-direction: column; 
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-size: 1rem;
    align-self: center;
    
    @include breakpoint-up(medium) {
      font-size: 1.4rem;
   }
  
  @include breakpoint-up(large) {
    font-size: 1.2rem;

  }
  }
  .user1 {
    background-color: #D4B2D8;
    padding: 0.35rem;
    border-radius: 10px;
    margin-bottom: 1rem;

    
  }
  .user1-order {
    background-color: #D4B2D8;
    padding: 0.35rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    order:1;
    
  }

 

  .user2 {
    background-color: #bde4a8;
    padding: 0.35rem;
    border-radius: 10px;
    margin-bottom: 1rem;   
 


    
  }
  .user2-order {
    background-color: #bde4a8;
    padding: 0.35rem;
    border-radius: 10px;
    order:1;


  }

  .wait-msg{
    color:black;
    margin-bottom: 0.5rem;
  }

  .wait-msg-darkmode {
    color:white;
    margin-bottom: 0.5rem;


  }

  .rule-container {
   
    width: 250px;
    height: 120px;
    font-size:1rem;

    position: absolute;
    text-align: center;
    align-self: center;
    transform: translateY(50%);
    border-radius: 16px;
    box-shadow: 5px 10px 20px 0 #be98c2;;
    background-color: #D4B2D8;
    opacity: 1;
    z-index: 10;
    flex-direction: column;
    @include breakpoint-up(medium) {
      height: 150px;
      width: 350px;
      font-size: 1.5rem;
   }
  
  @include breakpoint-up(large) {
    height: 150px;
    width: 310px;
    font-size: 1.3rem;

  }
  }

  .rule-container-darkmode {
    width: 250px;
    height: 120px;
    font-size:1rem;

    position: absolute;
    text-align: center;
    align-self: center;
    transform: translateY(50%);
    border-radius: 16px;
    background-color: #BB86FC;
    opacity: 1;
    z-index: 10;
    flex-direction: column;
    @include breakpoint-up(medium) {
      height: 150px;
      width: 350px;
      font-size: 1.5rem;
   }
  
  @include breakpoint-up(large) {
    height: 150px;
    width: 310px;
    font-size: 1.3rem;

  }
  }
  .close {
    cursor: pointer;
    align-self: flex-end;
    padding:0.5rem;
    font-size: 1.5rem;
    background-color: transparent;
    border:none;
    color: $darkBlue;
    font-weight: 700;
    border-radius: 16px ;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    transition: ease-in-out 500ms;
    @include breakpoint-up(medium) {
      
      font-size: 1.7rem;
   }
   
  }

  .close-darkmode {   
     cursor: pointer;
    align-self: flex-end;
    padding:0.5rem;
    font-size: 1.5rem;
    background-color: transparent;
    border:none;
    color: #00ffe5;
    font-weight: 700;
    border-radius: 16px ;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    transition: ease-in-out 500ms;
    @include breakpoint-up(medium) {
      
      font-size: 1.7rem;
   }
 
  }

  
  .rule-title {
    margin:0;
    font-weight: 700;
    font-family: $lato;
    margin-top: -1rem;
    @include breakpoint-down(small) {
      font-size: 1.1rem;
   
     }
  }

  .rule-text {
    margin:0;
    margin-top: 1rem;
    @include breakpoint-down(small) {
      font-size: 1.1rem;
   
     }
  }